<h1>Greetings <%= @ticket.name %>,</h1>

<p> Your status is now <%= @ticket.status %>.
        Your unique code for your request <%= @ticket.code %>
        Your ticket was created at <%= @ticket.created_at %>
        Your ticket was answered at <%= @ticket.updated_at %>
</p>

<p> Answer for your request is <%= @ticket.answer %>.
</p>

<%= link_to "View you ticket",  ticket_path(@ticket, only_path: false) %>
