%h1#title.text-center Listing tickets

%table{:class=>"table table-striped", :id =>"table"}
  %thead
    %tr
      %th Name
      %th Email
      %th Department
      %th Subject
      %th Request
      %th
      %th
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.name
        %td= ticket.email
        %td= ticket.department
        %td= ticket.subject
        %td= ticket.request
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path, :class => "btn btn-primary", :id => "new_ticket"
