%h1#title Listing tickets

.container
  %table{:class=>"table table-striped", :id =>"table"}
    %thead
      %tr
        %th Name
        %th Email
        %th Department
        %th Subject
        %th Code
        %th Status
        %th Created At
        %th Updated At

    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.name
          %td= ticket.email
          %td= ticket.department
          %td= ticket.subject
          %td= ticket.code
          %td= ticket.status
          %td= ticket.created_at
          %td= ticket.updated_at

  %br

= link_to 'New Ticket', new_ticket_path, :class => "btn btn-primary", :id => "new_ticket"
