%h1#title.text-center Listing tickets

.container
  %table{:class=>"table table-striped", :id =>"table"}
    %thead
      %tr
        %th Name
        %th Email
        %th Department
        %th Subject
        %th Request
        %th Code
        %th Status

    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= ticket.name
          %td= ticket.email
          %td= ticket.department
          %td= ticket.subject
          %td= ticket.request
          %td= ticket.code
          %td= ticket.status

  %br

= link_to 'New Ticket', new_ticket_path, :class => "btn btn-primary", :id => "new_ticket"
