%p#notice= notice

%p
  %strong Name:
  = @ticket.name

%p
  %strong Email:
  = @ticket.email

%p
  %strong Department:
  = @ticket.department

%p
  %strong Subject:
  = @ticket.subject

%p
  %strong Request:
  = @ticket.request

= link_to 'Edit', edit_ticket_path(@ticket)
= link_to 'Back', tickets_path
