<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ticket.department %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Request:</strong>
  <%= @ticket.request %>
</p>

<%= link_to 'Edit', edit_tickets_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
